.h1 {
    color:#0d1f2d;
}
.h2 {
    color:#0d1f2d;
}
.h3 {
    color:#0d1f2d;
}
.h4 {
    color:#0d1f2d;
}
.h5 {
    color:#0d1f2d;
}
.h6 {
    color:#0d1f2d;
}
body {
    background-color: #fae1df;
}
