<div class="backdrop" [ngStyle]="{'display':display}"></div> 
    <div id="bootstrapModel" class="modal" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="closemodal()">&times;</button>
                </div>
                <div class="modal-body">
                    <app-workout-detail [workout]="selectedWorkout"></app-workout-detail>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closemodal()">Close</button>
                </div>
            </div>
        </div> 
    </div>
<h3>Workouts</h3>
<div class="container-md">
    <div *ngFor="let workout of workouts"
            [class.selected]="workout === selectedWorkout"
            (click)="onSelect(workout)"
            class="workout">
        <p>{{ workout.name | uppercase }}
        <button (click)="delete(workout)">delete</button></p>
    </div>
</div>
<label> Workout name:
    <input #workoutName />
</label>
<label> Workout Type:
    <input #workoutType type="text" list="types" />
    <datalist id="types">
        <div *ngFor="let newType of newTypes">
            <option value="{{ newType.type }}">
        </div>
        <app-workout-type-dropdown></app-workout-type-dropdown>
    </datalist>
</label>
<button (click)="add(workoutName.value,workoutType.value);workoutName.value='';workoutType.value=''">
    add
</button>